img.img-thumbnail {
    height: 100px;
    min-width: 100px !important;
    margin-bottom: 2px;
}

.nv-file-over {
    border: dotted 3px lightseagreen;
}

input[type=file] {
    color: transparent;
}

.notVerified {
    position: relative;
    text-align: center;
    line-height: 1.1;
}

.notVerified > img {
    opacity: 0.5;
}

.notVerified::after {
    position: absolute;
    content: "Pending for approval";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: small;
    text-shadow: 0px 0px 5px white;
}